version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: monthly
    time: "04:00"
  open-pull-requests-limit: 10
  assignees:
  - AlCalzone
  ignore:
  - dependency-name: "@types/node"
    versions:
    - 14.14.22
    - 14.14.28
