node_modules/

# compiled test-files
/.nyc_output
coverage/

# npm packet files
iobroker-create-adapter-*.tgz
/nbproject

# lambda files
/lambda
!/lambda/index.js
!/lambda/package.json
!/lambda/test.js
/.idea
/frontend/config.json
/frontend/build
