# Ensure text files have LF line endings
* text eol=lf

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jpg     binary
*.jpeg     binary
*.gif     binary
