.git*
*.njsproj
*.sln
tsconfig.json
tsconfig.*.json
tslint.json
test/
tests/
src/
build/**/*.map
iobroker-create-adapter-*.tgz
.vs*/
.nyc_output/
obj/
coverage/
maintenance/
.travis.yml
.circleci/
.editorconfig
