.*
node_modules/
nbproject/
*.code-workspace
Thumbs.db
gulpfile.js

# CI test files
test/
travis/
appveyor.yaml

# Type checking configuration
tsconfig.json
tsconfig.*.json

# npm package files
iobroker.*.tgz
package-lock.json

# i18n intermediate files
admin/i18n

# maintenance scripts
maintenance/**